<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">LocalMarketplace</h5>

        <p>
          Is a student project created as part of the CoderAcademy FastTrack course.
          It was inspired by a want to invest in local artists and craft people,
           connect communities and support those living within your neighbourhood. 

        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Shout out</h5>

        <p>
          Images sourced from: 
          <a class="text-dark" href="https://unsplash.com/">Unsplash</a><br/>
          Education obtained at: 
          <a class="text-dark" href="https://coderacademy.edu.au/">CoderAcademy</a><br/>
          Created by: 
          <a class="text-dark" href="www.linkedin.com/in/alice-menzie-b01011166">Alice Menzie</a><br/>
          Repository:
          <a class="text-dark" href="https://github.com/AliceMenzie/A2T2_marketplace">LocalMarketplace</a><br/>
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://github.com/AliceMenzie/A2T2_marketplace">AliceMenzie</a>
  </div>
  <!-- Copyright -->
</footer>