<%= link_to "Back", :back %>
<div class="center jumbotron">

<h1 class="text-center">Edit Address </h1> <br/>  
</div>
  <% # ADDRESS FORM START %>

<%= render 'shared/address', address: @address  %>
 
